<!-- INPUT -->
{% extends "parent.html" %}
<!-- TITLEAREA -->
{% block title %} Video {% endblock %}

<!-- BODY -->
{% block body %}
<div>
  <h2>{{ video.title }}</h2>
  Video Player
  <p>{{ video.description }}</p>
</div>
<br />
<br />
<h3>Comments</h3>
<form action="postcomment" method="POST">
  {% csrf_token %} {{ form }}
  <input type="hidden" name="video" value="{{ video.id }}" />
  <button type="submit" class="btn btn-primary">Post</button>
</form>
ForLoopForComments CommentForm {% endblock %}

<!-- <input type="submit" value="Login" /> -->
